extends layout

block content
  h1= 'Login'
  form(method='POST' action='/login')
          div.form-group
            input.form-control(type='text' name='login', placeholder='Enter login', required)
          div.form-group
            input.form-control(type='password' name='password', placeholder='Enter password', required)
          button.btn(type='submit') Login
  p(style='white-space:pre;')
  a(href='/signup') SignUp
